<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio Felipe AG</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/PadStyle.css')}}">
</head>

<body class="ImgPad">
    <div>
        <img class="ImgLogo" src="static/imagens/logo.png">
        <a class="ARight" href="/">Home</a>
        |
        <a href="quemsomos.html">Quem somos</a>
        |
        <a href="contatos.html">Contatos</a>
        |
        <a href="users.html">Contatações</a>
    </div>
    <div class="DivTexto">
        <H1>Entre em contato</H1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        </p>
        <hr>
        <form action="contatos.html" method="POST">
            <label>Seu e-mail:</label><br>
            <input type="text" name="email"><br>
            <label>Assunto:</label><br>
            <input type="text" name="assunto"><br>
            <label>Descrição:</label><br>
            <textarea name="descricao"></textarea><br>
            <button>Enviar</button>
        </form>
        <h1>{{ resultado }}</h1>
    </div>
    <div class="DivTextoRod">
        <p><strong>Todos os direitos reservados</strong></p>
    </div>
</body>

</html>